<p>
  <strong>Commenter:</strong>
  <%= comment.user.email %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
<% if current_user.owner?(comment.article) && comment.unapproved? %>
<%= link_to 'Approve', article_comment_approve_path(comment_id: comment.id, article_id: comment.article.id),
              method: :approve,
              data: { confirm: 'Do you approve this comment?' } %>
<% elsif current_user.can?(comment)%>
<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>
<% end %>