<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %> <br>
    <%= current_user.email %>
  </p>
  <p>
    <%= f.label :body %> <br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>