<table>
    <tr>
        <th>Title</th>
        <th>Text</th>
        <th>Comments count</th>
        <th>user_id</th>
    </tr>

    <% @articles.each do |article| %>
        <tr>
            <td>
                <%= article.title %>
            </td>
            <td>
                <%= article.text %>
            </td>
            <td>
                <%= article.comments.count %>
            </td>
            <td>
                <%= article.user_id %>
            </td>
            <td>
                <%= link_to  "Show", article_path(article) %>
            </td>
            <% if current_user&.owner?(article) %>
            <td>
                <%= link_to "Edit", edit_article_path(article) %>
            </td>
            <td>
                <%= link_to "Destroy", article_path(article),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
            </td>
            <% end %>
        </tr>
    <% end %>
</table>