<p>
    <strong>Title:</strong>
    <%= @article.title %>
</p>

<p>
    <strong>Text:</strong>
    <%= @article.text %>
</p>

<%= render 'comments' %>


<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<% if current_user.owner?(@article) %>
<%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', articles_path %>