<% if user_signed_in? %>
    <h1>Hello, <%= current_user.email %></h1>
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
<% end %>
<%= link_to  "My Blog", controller: 'articles' %>